body {
    /*font-family: Arial, sans-serif;*/
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: #bb00ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chat-container {
    background-color: #282828;
    width: 400px;
    /*border-radius: 10px;*/
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    background-color: #bb00ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid #8800cc;
}

.status-indicator {
    width: 10px;
    height: 10px;
    background-color: lime;
    border-radius: 50%;
}

.header-text {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.chat-window {
    background-color: #1e1e2c;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}


.message_bot .message_user{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    max-width: 80%;
}

.message_bot {
    padding: 10px;
    border-radius: 10px;
    background-color: #282828;
    margin-left: 3px;
    text-align: left;
    width: fit-content;
}

.message_user {
    padding: 10px;
    border-radius: 10px;
    background-color: #8a2be2;
    margin-left: auto;
    margin-right: 40px;/
    text-align: right;
    width: fit-content;
}


.input-form {
    display: flex;
    border-top: 1px solid #8800cc;
    padding: 5px;
    background-color: #282828;
    border-top-style: solid #ACACAC;
    border-right-style: solid #282828;
    border-bottom-style: solid #ACACAC;
    border-left-style: solid #282828;
}
.send-button{
    border: none;
    
    padding: 0;
    margin: 0;
    outline: none; /* removes the focus outline */
    box-shadow: none; /* removes any box shadow */
    -webkit-appearance: none; /* removes default styling in WebKit browsers */
    -moz-appearance: none; /* removes default styling in Firefox */
    appearance: none; /* removes default styling */
    background-color: #282828;
}
.send-button img{
    width: 20px;
    height: 20px;
}
.user-prompt {
    color: grey;
    flex-grow: 1;
    border: none;
    padding: 0px;
    outline: none;
    background-color: #282828;
    border-top-style: solid #ACACAC;
    border-right-style: solid #282828;
    border-bottom-style: solid #ACACAC;
    border-left-style: solid #282828;
}

.user-prompt:focus{
    color:white
}
.input-form{
    background-color: #282828;
    border-top-style: solid #ACACAC;
    border-right-style: solid #282828;
    border-bottom-style: 1 px solid #ACACAC;
    border-left-style: solid #282828;
    transition: box-shadow 0.5s ease-in-out
}
.active {
    box-shadow: 0 0 10px 5px rgba(229, 165, 255, 0.7);
}

.control_buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #282828;
    
}
.control_buttons .help-button {
    border: 3px solid rgba(255, 192, 203, 0); /* Initially transparent border */
    background-color: #A82ABD;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}

.control_buttons .help-button:hover {
    border-color: rgb(255, 255, 255) !important; /* Change border color on hover */
    background-color: #BA68C8;
    color: white;
}
.chat-window{
    height: 300px;
    overflow-y: scroll;
}
.chat-window button{
    background-color: #5e3a64;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}

.chat-window button:hover{
    background-color: #625264;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}   

@keyframes smoothEaseIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.option-buttons button{
    border: none;
    padding: 10px;
    margin: 10px;
    outline: none; /* removes the focus outline */
    box-shadow: none; /* removes any box shadow */
    -webkit-appearance: none; /* removes default styling in WebKit browsers */
    -moz-appearance: none; /* removes default styling in Firefox */
    appearance: none; /* removes default styling */
}
.option-buttons button:hover{
    background-color: #7a48b3;
}
.message_bot, .message_user, .option-buttons {
    animation: smoothEaseIn 0.4s ease-out;
    opacity: 1;
}
.message_bot, .message_user{
    max-width: 250px;
}
a{
    color: #BA68C8;
    transition: 0.2s;
}
a:hover{
    color: white;
    transition: 0.2s;
}
.comparison-button{
    border: 3px solid rgba(255, 192, 203, 0); /* Initially transparent border */
    
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
    background-color: grey;
    cursor:not-allowed;
}
.active-button{
    border: 3px solid rgba(255, 192, 203, 0); /* Initially transparent border */
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
    background-color: rgb(55, 161, 61);
    cursor:pointer;
}

.helping_text {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
    font-family: "Roboto", sans-serif;
    color: white;
}
.popup_wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.close_popup {
    border: none;
    padding: 10px;
    margin: 10px;
    outline: none; /* removes the focus outline */
    box-shadow: none; /* removes any box shadow */
    -webkit-appearance: none; /* removes default styling in WebKit browsers */
    -moz-appearance: none; /* removes default styling in Firefox */
    appearance: none; 
    
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    outline: none;
}

.close_popup:hover {
    color: #ff0000;
}

.close_popup:focus {
    background-color: grey;
    border-radius: 50%;
}
